.footer {
  display: block;
  justify-content: space-between;
  box-shadow: 0 0 5px rgb(230,230,230);
  background-color: #2c2b2b;
  color: white;
  text-align: center;
  background-position: center;
  padding: 40px;

}

.social-icon i {
  font-size: 32px;
  color: orange;
  margin: 8px 24px;
}

.social-icon {
  display: inline-block;
  margin-block-start: -30px;
}


